@media screen and (max-width: 768px)
{
	/*	nav*/

	nav
	{
		padding: 20px;
	}
	.nav_logo
	{
		height: 0;
		padding: 0;
	}
	.logoEle
	{
		height: 40px;
	}
/*	nva ul li a*/
	.navlinks
	{
		line-height: 40px;
		margin: 0 0 0 1px;
		padding: 7px 14px;
		font-size: 14px;
	}

	/*banner*/

	.banner_sec .banner_content .banner_para
	{
		font-size: 50px;
	}

	/* container */

	
	/*.container
	{
		width: 90%;
		max-width: 1200px;
		margin: 50px auto;
		display: grid;
		grid-template-rows: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
		grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
		grid-gap: 40px;
		grid-auto-flow: row;
		grid-auto-rows: minmax(100px, 1fr);
	}
	.box
	{
		border: 1px solid black;
		height: 225px;
		position: relative;
		overflow: auto;
	}*/

	.container
	{
		margin: 50px auto;
		grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
	}

	
	
	.footer
	{
		padding: 40px;
	}
	.footer .aboutUs
	{
		width: 100%;
	}
	.footer .aboutUs h2
	{
		margin: 0 0 10px;
		font-size: 18px;
	}
	.footer .aboutUs p
	{
		line-height: 20px;
		letter-spacing: 0.5px;
		word-spacing: 1.1px;
		font-size: 12px;
	}



	.footer .socialLinks
	{
		margin: 30px 0 0;
		width: 100%;
		padding: 0;
	}
	.footer .socialLinks h2
	{
		margin: 0 0 10px;
		font-size: 18px;
	}
	.footer .socialLinks ul li
	{
		margin: 0 0 2px;
	}
	.footer .socialLinks ul li a
	{
		font-size: 12px;
	}



	.copyright
	{
		padding: 10px 13px
	}
	.copyright p
	{
		font-weight: lighter;
		color: #f2f2f2;
		font-size: 12px;
	}
	.copyright p a
	{
		text-decoration: none;
		color: #dbdbdb;
	}

}



/*@media screen and (max-width: 425px)*/
@media screen and (max-width: 520px)
{

	.banner_sec .banner_content .banner_para
	{
		font-size: 30px;
	}


	/* container */

	.container
	{/*
		width: 85%;*/
/*		margin: 30px;*/
		grid-gap: 30px;
		margin: 25px 20px;
		grid-template-columns: minmax(100px, 1fr);
	}
	/*.container .box
	{
		height: 180px;
	}*/
}



@media screen and (max-width: 320px)
{
	/* container */

	/*.container
	{
		width: 85%;
		margin: 25px auto;
		grid-gap: 25px;
		grid-template-rows: minmax(auto, 1fr);
		grid-template-columns: minmax(100px, 1fr);
	}
	.container .box
	{
		height: 200px;
	}*/
}